body{
	height:100%;
	background:black;
	font-family:'Source Sans Pro', sans-serif; 
	font-size:15px; 
	color: #666;
	letter-spacing:0.5px;
}
#header {
	position:absolute; 
	top:0px; left:0px; width:100%; 
	background-color:#ECDF37;
	line-height:80px;
	text-align:center;
	font-family: 'Oswald', sans-serif;
	font-size:60px;color:black; 
	letter-spacing:3px;
}
#linkity{
	position:relative; 
	top:-30px
}
#box1{
	margin:0 auto; 
	margin-top:142px; 
	width:1200px;
	padding:26px;
	background-color:#fff;
	font-size:16px;
	line-height:22px;
	height:100%;
}
#box2{
	position:relative;
	margin-bottom:16px;
	width:856px;
}
#box3{
	position:relative;
	float:right;
	width:200px;
}
#foot{
	clear:both;
	text-align:center;
	font-size:11px;
	background-color:#3d423d;
	border-right: 10px solid #ECDF37;
	bottom: 0px;
	width: 100%;
}
footer {
	clear:both;
	text-align:center;
	font-size:11px;
	background-color:#3d423d;
	border-right: 10px solid #ECDF37;
	bottom: 0px;
	margin: auto;
	width: 95%;
}
h1{
	display:block;
	border-right: 10px solid #ECDF37;
	font-family:'Source Sans Pro';
	font-size:18px;
	line-height:22px;
	font-weight:normal;
	background-color:#3d423d;
	letter-spacing:1px;
	padding:6px;
	color:#fff
}
a{
	text-decoration:none;
	color:#cc564c;
}
a:hover{
	background-color:#3d423d;
	color:#fff;
}
a.linkit, .dropbtn, .dropbtn2, .dropbtn3{
	display:inline-block;
	width:100px;
	font-size:16px;
	color:black;
	text-transform:uppercase;
	line-height:16px;
	letter-spacing:2px;
	padding:10px;
	border:2px black solid;
}
a.linkit:hover, .dropbtn:hover, a.longan:active, .dropbtn:active, .dropbtn2:hover, a.longan2:active, .dropbtn2:active, .dropbtn3:hover, a.longan3:active, .dropbtn3:active{
	background-color:black;
	color:#ECDF37;
	border-color:black;
	-o-transition:0.3s;-ms-transition:0.3s;  
	-moz-transition:0.3s; 
	-webkit-transition:0.3s; 
	transition:0.3s;
}
textarea{
	width:100%
}
#pelaajat {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 33% 33% 33%;
	column-gap: 10px;
	row-gap: 10px;
}
.pelaaja {
	background-color:#ECDF37;
	width: 170px;
	height: 200px;
}
.kuvat {
	height: 70%;
	width: 80%;
	margin-left: 10%;
	margin-top: 10%;
	background-color: aqua;
}
.nimet {
	position: relative;
	text-align: center;
	bottom: 5%;
}
.someupotus {
	object-fit: cover;
	margin: auto;
	background-color: #666;
	width: 70%;
	height: 500px;
}
#facegramlogo {
	height: 50px;
	background-color: lightskyblue;
}
table {
	margin: auto;
}
td {
	padding: 10px;
	width: 150px;
	height: 90px;
}
.spkuva {
	width: 250px;
	height: 120px;
}
.dropdown, .dropdown2, .dropdown3 {
	font-family: 'Oswald', sans-serif;
	text-transform:uppercase;
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content, .dropdown-content2, .dropdown-content3 {
	width: fit-content;
	display: none;
	position: absolute;
	background-color: #ECDF37;
	width: 100px;
	font-size:16px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  .dropbtn, .dropbtn2, .dropbtn3 {
	width: fit-content;
	font-family: 'Oswald', sans-serif;
	text-transform:uppercase;
	background-color: #ECDF37;
  }
  .dropdown-content a, .dropdown-content2 a, .dropdown-content3 a {
	width: fit-content;
	color: black;
	padding: 6px 16px;
	line-height: 25px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown-content a:hover, .dropdown-content2 a:hover, .dropdown-content3 a:hover {background-color: black; color: #ECDF37;}
  
  .dropdown:hover .dropdown-content, .dropdown2:hover .dropdown-content2, .dropdown3:hover .dropdown-content3 {display: block; width: fit-content;}
  
  .dropdown:hover .dropbtn, .dropdown2:hover .dropbtn2, .dropdown3:hover .dropbtn3 {background-color: black; color: #ECDF37;}